<h3 class="header center"><%= @cohort.language %> <%= @cohort.season %> <%= @cohort.year %></h3>
<div class="col s10 m9 l10">

  <table class="hoverable">
    <thead>
      <tr>
          <th data-field="name">Name</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><a href="/users/<%= user.id %>"><%= user.name %></a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
