<div class="row">

  <img class="materialboxed" id="user_avatar" src="/img/picture.jpg" alt="user_avatar" />

</div>
<div class="col s5 m5 l5">
  <h5 class="header center"><a href="/cohorts/<%= @user.cohort.id %>"><%= @user.cohort.season %> <%= @user.cohort.language %> <%= @user.cohort.year %></a></h5>
  <h5 class="header center"><%= @user.email %></h5>
  <p class="header center"><a href="/users/<%= @user.id %>/preferences" id="download-button" class="offset-s5 btn waves-effect waves-light pink accent-2" >Preferences</a></p>
  <br>
  <h5 class="header center">Upcoming Pairs</h5>
  <br>
  <div class="col s5 m5 l5">

    <table class="hoverable centered">
      <thead>
        <tr>
            <th data-field="partner">Partner</th>
            <th data-field="day">Day</th>
        </tr>
      </thead>

      <tbody>
      <% if @user.pairs.any? %>
        <% @user.pairs.each do |pair| %>
        <tr>
          <td><a href="/users/<%= pair.partner.id %>"><%= pair.partner.name %></a></td>
          <td><%= pair.day.strftime(" %A  %b  %e") %></td>
        </tr>
        <% end %>
      <% else %>
      <tr>
        <td colspan="2">No upcoming pairs</td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
