<h2 class="header center"><%= @user.name %>'s Preferences</h2>

<% if @user.questions.any? %>
  <table>
    <thead>
      <tr>
        <th>Preference</th>
        <th>Response</th>
      </tr>
    </thead>
    <% @user.questions.each do |question| %>
      <tr><td><%= question.description %></td>
        <td><% question.responses.each do |response| %>
            <% if response.user_id == @user.id %>
              <%= response.value %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table><br>

  <% if @user.id == session[:user_id] %>
    <% if @user.responses == nil %>
    <h5 class="header center">No preferences yet!</h5>
    <p class="header center"><a href="/users/<%= @user.id %>" class="btn waves-effect waves-light pink accent-1">Back</a>   <a href="/quiz" id="download-button" class="btn-small waves-effect waves-light pink accent-2">Take Preference Quiz</a></p>
    <% else %>

      <p class="header center"><a href="/users/<%= @user.id %>" class="btn waves-effect waves-light pink accent-1">Back</a>    <a href="/quiz" id="download-button" class="btn-small waves-effect waves-light pink accent-2 btn">Retake Preference Quiz</a></p>

    <% end %>
  <% end %>

<% else %>
  <h5 class="header center">No preferences yet!</h5>
  <a href="/users/<%= @user.id %>" class="btn waves-effect waves-light pink accent-1">Back</a>
<% end %>
