<% if Question.any? %>
  <form action="/quiz/responses">
    <ol>
      <% Question.all.each do |question| %>
        <li><%= question.description %>
            <p>
              <input name="<%= question.id %>" type="radio" id="true-<%= question.id %>"/>
              <label for="true-<%= question.id %>">True</label>
            </p>
            <p>
              <input name="<%= question.id %>" type="radio" id="false-<%= question.id %>"/>
              <label for="false-<%= question.id %>">False</label>
            </p>
        </li>
      <% end %>
    </ol>
    <button class="btn-large waves-effect waves-light pink accent-1" type="submit">Submit quiz</button>
  </form>
<% end %>


<!-- #include user id from url to assign response values to specific user -->
