<div class="message">
  <% if @message != nil %>
    <p class="center card-panel <%= @color %> lighten-4"><%= @message %></p>
  <% end %>
</div>
<div class="row center">
  <div class="col s12">
    <h2 class="header"><%= @user.name %> <%= @user.last_name %></h2>
    <div class="calendar-form row">
      <form class="calendar-form-form col s12" action="/requests" method="post">
        <input type="hidden" name="partner_id" value="<%= @user.id %>">
        <div class="row">
          <div class="col s4 offset-s4 date">
            <label for="day">Click below to pick a day to pair</label>
            <input name="day" type="date" class="center datepicker" placeholder='<%= Time.new().strftime("%e %B, %Y") %>'>

          </div>
        </div>
        <button id="add-pair-btn" class="offset-s5 btn waves-effect waves-light pink accent-2" type="submit">Request Pair</button>
      </form>
    </div>
  </div>
  <a href="/users/<%= @user.id %>/calendar">View Calendar</a>
</div>
<%= erb :detail_partial %>
